<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="persistenceUnit">
        <class>me.laudukang.persistence.model.OsAdmin</class>
        <class>me.laudukang.persistence.model.OsAuthor</class>
        <class>me.laudukang.persistence.model.OsMessage</class>
        <class>me.laudukang.persistence.model.OsDoc</class>
        <class>me.laudukang.persistence.model.OsDocAdmin</class>
        <class>me.laudukang.persistence.model.OsLog</class>
        <class>me.laudukang.persistence.model.OsPermission</class>
        <class>me.laudukang.persistence.model.OsRole</class>
        <class>me.laudukang.persistence.model.OsUser</class>
        <properties>
            <property name="hibernate.connection.url" value="jdbc:mysql://202.116.161.92:3306/online_submission"/>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
            <property name="hibernate.connection.username"/>
            <property name="hibernate.connection.password"/>
        </properties>
    </persistence-unit>
</persistence>
