@charset "UTF-8";
body, div, article, section, header, footer, nav, div, ul, ol, li, table, tr, th, td, h1, h2, h3, h4, p, pre, code, form, input, textarea {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
}

body {
  position: relative;
  color: #333;
  font-size: 14px;
  min-width: 1200px;
  font-family: "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;
}

img {
  border: 0;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #185697;
}

a:hover {
  text-decoration: none;
  color: #f30;
}

li {
  list-style: none;
}

.doc_remind_Red {
  color: #f30 !important;
}

.doc_remind_Blue {
  color: #135294 !important;
}

.doc_btn {
  background: url(../images/online/bginput.gif) repeat-x top;
  overflow: hidden;
  border: 1px #949494 solid;
  padding: 3px 10px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  color: #333;
}

.doc_btn_Blue {
  background: #358edd;
  color: #fff;
  border: 1px #4e7594 solid;
}

.doc_text {
  height: 18px;
  font-size: 12px;
  padding: 3px 8px;
  border: 1px solid #A0AAB4;
  background-color: #fff;
  width: 125px;
  color: #666;
}

.doc_text_Small {
  width: 65px;
}

.doc_text_Big {
  width: 280px;
}

.doc_text_Large {
  line-height: 26px;
  height: 26px;
}

.doc_textarea {
  width: 440px;
  height: 80px;
  resize: none;
  border: 1px solid #A0AAB4;
  background-color: #fff;
  font-size: 12px;
  padding: 3px 8px;
  color: #666;
}

.doc_select {
  font-size: 12px;
  padding: 4px 8px;
  border: 1px solid #A0AAB4;
  background-color: #fff;
  color: #666;
}

.doc_icon {
  display: inline-block;
  color: #185697;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
}

.doc_icon:hover {
  color: #f30;
}

.doc_icon_Remind {
  color: #FF9900;
}

.doc_filter {
  margin-bottom: 15px;
  overflow: hidden;
  margin-left: -20px;
}

.doc_filter_item {
  float: left;
  margin-left: 20px;
}

.doc_filter_item_title {
  display: inline-block;
  margin-right: 4px;
}

.doc_filter_item_link {
  display: inline-block;
  margin: 0 10px;
}

/*提醒框，确认框的样式*/
.doc_cover {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.doc_box {
  position: absolute;
  left: 50%;
  top: 120px;
  width: 440px;
  margin-left: -200px;
  z-index: 1000;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
}

.doc_box header {
  height: 30px;
  line-height: 30px;
  background-color: #358edd;
  border-radius: 4px 4px 0 0;
}

.doc_box header h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  color: #fff;
  text-align: left;
  padding-left: 12px;
}

.doc_box .doc_header_closeBtn {
  position: absolute;
  right: 8px;
  top: 7px;
  color: #fff;
  font-size: 16px;
}

.doc_box .doc_header_closeBtn:hover {
  color: #ff9900;
}

.doc_box .doc_box_body {
  padding: 24px 24px 10px;
  min-height: 80px;
}

.doc_box .doc_box_footer {
  text-align: right;
  padding: 4px 8px;
  background-color: #F8F8F8;
  border-top: 1px solid #DCE1E6;
}

.remindBox_cover, .confirmBox_cover {
  z-index: 500;
}

.doc_remindBox, .doc_confirmBox {
  position: absolute;
  left: 50%;
  top: 120px;
  width: 400px;
  height: 180px;
  margin-left: -200px;
  z-index: 1000;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
}

.doc_remindBox header, .doc_confirmBox header {
  height: 30px;
  line-height: 30px;
  background-color: #358edd;
  border-radius: 4px 4px 0 0;
}

.doc_remindBox header h2, .doc_confirmBox header h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  color: #fff;
  text-align: left;
  padding-left: 12px;
}

.doc_remindBox section, .doc_confirmBox section {
  margin: 34px 0 0 30px;
  height: 48px;
}

.doc_remindBox section i, .doc_confirmBox section i {
  display: inline-block;
  line-height: 48px;
  font-size: 35px;
  vertical-align: middle;
}

.doc_remindBox section p, .doc_confirmBox section p {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
}

.doc_remindBox footer, .doc_confirmBox footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px 10px 6px 0;
  background-color: #F8F8F8;
  border-top: 1px solid #DCE1E6;
  text-align: right;
  border-radius: 0 0 4px 4px;
}

.doc_remindBox footer .doc_btn, .doc_confirmBox footer .doc_btn {
  margin-left: 10px;
}

.remindBox_closeBtn, .confirmBox_closeBtn {
  position: absolute;
  right: 8px;
  top: 7px;
  color: #fff;
  font-size: 16px;
}

.remindBox_closeBtn:hover, .confirmBox_closeBtn:hover {
  color: #ff9900;
}

.doc_table {
  border-collapse: collapse;
  width: 100%;
  padding: 2px;
  margin: 0px;
  border: solid 1px #C4D8ED;
}

.doc_table_WidthMarginBottom {
  margin-bottom: 15px;
}

.doc_table td {
  font-size: 12px;
  border: 1px solid #C4D8ED;
  padding: 5px;
  vertical-align: middle;
  background: #fff;
  text-align: left;
  font-weight: normal;
  color: #222222;
}

.doc_table th {
  height: 24px;
  line-height: 24px;
  background: #EEF7FD;
  color: #666666;
  font-weight: normal;
  font-size: 12px;
  border: 1px solid #C4D8ED;
  padding: 5px;
  vertical-align: middle;
}

.doc_table .doc_title {
  height: 24px;
  line-height: 24px;
  background: #EEF7FD;
  color: #666666;
  font-weight: normal;
}

.doc_table .doc_sec_title {
  background: #EEF7FD;
  color: #666666;
  font-weight: normal;
}

.doc_table td.doc_td_Active {
  color: #135294;
}

.doc_table_tip {
  display: inline-block;
  color: #f30;
  margin-left: 10px;
}

.doc_table td.left_m {
  background: #fff;
  color: #222222;
  padding-left: 5px;
  font-weight: normal;
  text-align: left;
  border-top: solid 1px #C4D8ED;
  border-left: solid 1px #C4D8ED;
}

.doc_table td.right_m {
  background: #fff;
  color: #135294;
  padding-left: 5px;
  text-align: left;
  border-top: solid 1px #C4D8ED;
  border-left: solid 1px #C4D8ED;
}

.doc_table td.bottom {
  height: 30px;
  padding: 5px 0px 5px 10px;
}

/*TextBox OR Input ??????*/
.txtbox {
  padding: 3px 0px 2px 2px;
  border: solid 1px #8AA3BE;
  font-family: Courier New;
}

.txtboxfocus {
  padding: 3px 0px 2px 2px;
  border: solid 1px #AFAFAF;
  background-color: #FFFFDB;
}

.frame_header {
  height: 70px;
  background-color: #358edd;
}

.frame_header_banner {
  width: 960px;
  margin: 0 auto;
  height: 100%;
}

.frame_header_logo {
  float: left;
  line-height: 70px;
}

.frame_header_logo img {
  float: left;
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.frame_header_title {
  overflow: hidden;
  font-size: 24px;
  color: #fff;
}

.frame_header_account {
  float: right;
  color: #fff;
  margin-top: 10px;
}

.frame_header_account a {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  text-decoration: underline;
}

.frame_header_account a:first-of-type {
  margin-left: 10px;
}

.frame_main {
  position: relative;
  width: 860px;
  margin: 20px auto 50px;
}

.frame_main_nav_wrap {
  position: absolute;
  left: -160px;
  top: 54px;
  width: 140px;
}

.frame_main_nav {
  height: 100%;
  border: #bdd7f2 1px solid;
  border-top: #0080c4 4px solid;
  border-bottom: #0080c4 4px solid;
  margin-left: 10px;
  background: #ebf7ff url(../images/online/leftdhbg.jpg) repeat-y right;
}

.frame_main_nav_title {
  position: relative;
  display: block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-bottom: 1px #98c9ee solid;
}

.frame_main_nav_title_Bg {
  position: absolute;
  left: -11px;
  top: -1px;
  width: 11px;
  height: 48px;
  background: url(../images/online/leftbgbt2.jpg) no-repeat;
}

.frame_main_nav_list li {
  height: 28px;
  line-height: 24px;
  border-bottom: 1px #98c9ee dotted;
}

.frame_main_nav_list li a {
  display: block;
  background: #fff;
  line-height: 28px;
  height: 28px;
  text-align: center;
}

.frame_main_nav_list li a:hover {
  background: #0080c4;
  color: #fff;
}

.frame_main_content {
  min-height: 500px;
  border-radius: 0 0 8px 8px;
  padding: 10px 20px;
  border: 1px #b5daf7 solid;
}

.frame_main_content_path {
  color: #185697;
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 100;
  border-bottom: 1px #ddd dotted;
  line-height: 30px;
}

.frame_main_secNav {
  background: url(../images/online/bg_n.jpg) repeat-x bottom;
  overflow: hidden;
  _zoom: 1;
  margin-bottom: 20px;
}

.frame_main_secNav li {
  float: left;
  margin-right: 8px;
  cursor: pointer;
  line-height: 35px;
  height: 35px;
}

.frame_main_secNav a {
  text-align: center;
  display: block;
  padding: 0 15px;
  overflow: hidden;
  border-bottom: none;
  font-size: 14px;
}

.frame_main_secNav_item_Active {
  background: #fff url(../images/online/bgnav.jpg) repeat-x;
  font-weight: 700;
  border: 1px #1573b4 solid;
  color: #fff;
}

.frame_main_secNav_item_Active:hover {
  color: #fff;
}

.frame_main_secNav_item {
  background: #f4fbff url(../images/online/bg_nav2.jpg) repeat-x bottom;
  border: 1px #bed9f0 solid;
  color: #0561a2;
  height: 32px;
}

.frame_main_secNav_item:hover {
  color: #333;
}

.docList_filter .doc_filter_item {
  margin-left: 23px;
}

.docList_status1 {
  color: #C93;
}

.docList_status2 {
  color: #099;
}

.docList_status3 {
  color: #C33;
}

.docList_status4 {
  color: #C9C;
}

.submitDoc_authorTable {
  margin-bottom: 5px;
}

.submitDoc_submitBtn, .account_submitBtn {
  margin: 10px 0 10px 230px;
  width: 120px;
}

.submitDoc_authorTable_title h3 {
  font-weight: normal;
  float: left;
}
.submitDoc_authorTable_title a {
  float: right;
  margin-right: 10px;
}

.submitDoc_docTable {
  margin-top: 15px;
}

.updatePassword_submitBtn {
  margin: 10px 0 10px 120px;
  width: 155px;
}

#pdf {
  height: 500px;
  margin-bottom: 15px;
}

#pdf object {
  display: block;
  border: 3px #b5daf7 solid;
  box-sizing: border-box;
}

.docInfo_reviewTable_submitBtn {
  margin: 10px 0 10px 85px;
  width: 120px;
  text-align: center;
}

.docInfo_propose_remind, .reviewResult_remind {
  display: inline-block;
  margin-left: 8px;
}

.docInfo_sendDocBox .doc_box_body .doc_icon {
  font-size: 18px;
  vertical-align: middle;
}

.docInfo_sendDocBox .doc_box_footer a {
  margin-right: 8px;
}

.docInfo_sendDocBox_left {
  float: left;
  width: 110px;
}

.docInfo_sendDocBox_right {
  overflow: hidden;
}

.docInfo_sendDocBox_item {
  margin-bottom: 15px;
}

.docInfo_sendDocBox_item .doc_btn {
  margin-left: 80px;
  margin-bottom: 50px;
}

.docInfo_sendDocBox_item .doc_icon {
  display: inline-block;
  margin-left: 15px;
}

.docInfo_sendDocBox_item_title {
  display: inline-block;
  line-height: 26px;
  margin-right: 8px;
}

.user_header {
  margin-top: 50px;
}

.user_header h1 {
  font-size: 24px;
  line-height: 70px;
  color: #0f6363;
  padding-left: 55px;
  margin-left: 55px;
  background: url("../images/online/logo.png") left 10px no-repeat;
  background-size: 50px;
  font-weight: normal;
}

.user_wrap {
  position: relative;
  height: 408px;
  background: url(../images/online/user_banner.png) center top repeat;
}

.user_bg {
  position: absolute;
  right: 50%;
  margin-right: -640px;
  background: url("../images/online/user_bg.png");
  height: 408px;
  width: 588.4px;
  background-size: 588.4px 408px;
}

.user_container {
  position: absolute;
  left: 50%;
  top: 53px;
  margin-left: -400px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 5px 2px #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.user_remind {
  color: red;
  position: absolute;
  left: 0;
  top: -22px;
}

.user_content {
  padding: 20px;
}

.login_item, .register_item, .forgivePassword_item, .resetPassword_item {
  margin-bottom: 25px;
  position: relative;
}

.login_item:last-child, .register_item:last-child, .forgivePassword_item:last-child, .resetPassword_item:last-child {
  margin-bottom: 0;
}

.login_item .doc_text, .register_item .doc_text, .forgivePassword_item .doc_text, .resetPassword_item .doc_text {
  width: 242px;
}

.login_item .doc_btn, .register_item .doc_btn, .forgivePassword_item .doc_btn, .resetPassword_item .doc_btn {
  height: 34px;
  line-height: 26px;
  width: 260px;
  letter-spacing: 10px;
  font-size: 18px;
}

.login_item:nth-child(3) {
  margin-bottom: 30px;
}
.login_item:nth-child(4) {
  margin-bottom: 10px;
}

.login_title {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.login_item_leftBtn {
  float: left;
}

.login_item_leftBtn:hover {
  text-decoration: underline;
  color: #357FB8;
}

.login_item_rightBtn {
  float: right;
}

.login_item_rightBtn:hover {
  text-decoration: underline;
  color: #357FB8;
}

.register_item {
  margin-bottom: 18px;
}

.register_item:first-child {
  margin-bottom: 15px;
  overflow: hidden;
}

.register_item:nth-child(4) {
  margin-bottom: 25px;
}

.register_item .register_title {
  float: left;
  font-weight: normal;
  font-size: 18px;
}

.register_item_rightBtn {
  float: right;
}

.register_item_rightBtn:hover {
  text-decoration: underline;
  color: #357FB8;
}

.forgivePassword_item:first-child {
  margin-bottom: 15px;
  overflow: hidden;
}
.forgivePassword_item:nth-child(2) {
  margin-bottom: 10px;
}
.forgivePassword_item:nth-child(4) {
  margin-bottom: 10px;
}
.forgivePassword_item .forgivePassword_title {
  float: left;
  font-weight: normal;
  font-size: 18px;
}

.forgivePassword_item_rightBtn {
  float: right;
}

.forgivePassword_item_rightBtn:hover {
  text-decoration: underline;
  color: #357FB8;
}

.resetPassword_item:first-child {
  margin-bottom: 15px;
  overflow: hidden;
}
.resetPassword_item:nth-child(2) {
  margin-bottom: 10px;
}
.resetPassword_item .resetPassword_title {
  float: left;
  font-weight: normal;
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */